:root{
    --color-main: rgb(223, 248, 241);
    --color-conc: rgb(6, 250, 250);
    --color-header: rgb(94, 182, 255);
    --color-buttons: rgb(48, 51, 216);
    --color-errors: rgb(255, 66, 201);

}
@font-face {
    font-family: "AmaticR";
    src: url("/fonts/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: "AmaticB";
    src: url("/fonts/AmaticSC-Bold.ttf");
}

.font-r{
    font-family: 'AmaticR', sans-serif;
}

.font-b{
    font-family: 'AmaticB', sans-serif;
}